
[package]
name = "twizzler-kernel"
version = "0.1.0"
edition = "2021"

[dependencies]
intrusive-collections = { version = "0.9.5", features = ["nightly"] }
twizzler-kernel-macros = { version = "*", path = "macros" }
bitflags = "1.3.2"
memoffset = "0.6.5"
xmas-elf = "0.8.0"
slabmalloc = "0.11.0"
nonoverlapping_interval_tree = { version = "0.1.3", default-features = false }
twizzler-abi = { path = "../lib/twizzler-abi", default-features = false, features = [
    "kernel",
] }
fixedbitset = { version = "0.4.1", default-features = false }
linked_list_allocator = "0.10.4"
tar-no-std = "0.1.7"
object = { version = "0.29.0", default-features = false, features = ["read"] }
addr2line = { version = "0.16.0", default-features = false, features = [
    "rustc-demangle",
] }
backtracer_core = { git = "https://github.com/twizzler-operating-system/backtracer", branch = "twizzler" }
limine = "0.1.8"
twizzler-queue-raw = { version = "*", path = "../lib/twizzler-queue-raw", default-features = false }
syscall_encode = { version = "0.1.2" }
volatile = "0.5"
uart_16550 = "0.3.0"
x86 = "0.52.0"
acpi = "4.1.1"
arm64 = { package = "aarch64-cpu", version = "9.3.1" }
registers = { package = "tock-registers", version = "0.8.x" }
fdt = "0.1.5"


[target.x86_64-unknown-none.dependencies]
uart_16550 = "0.2.0"
x86 = "0.52.0"
acpi = "4.1.1"

[target.aarch64-unknown-none.dependencies]
arm64 = { package = "aarch64-cpu", version = "9.3.1" }
registers = { package = "tock-registers", version = "0.8.x" }

[dependencies.lazy_static]
version = "1.0"
features = ["spin_no_std"]

[package.metadata]
twizzler-build = "kernel"

[profile.release]
debug = true

[profile.dev]
opt-level = 1

[package.metadata.kani.flags]
features = ["std"]
