[submodule "toolchain/src/rust"]
	path = toolchain/src/rust
	url = ../../twizzler-operating-system/rust.git
	branch = twizzler-tcup2024
[submodule "src/lib/nvme-rs"]
	path = src/lib/nvme-rs
	url = ../../twizzler-operating-system/nvme-rs.git
	branch = twizzler-dynlink
[submodule "src/abi"]
	path = src/abi
	url = ../../twizzler-operating-system/abi.git
[submodule "src/bin/test-tiny-http/src/tiny-http-twizzler"]
	path = src/bin/test-tiny-http/src/tiny-http-twizzler
	url = ../../twizzler-operating-system/tiny-http-twizzler.git
[submodule "src/srv/pager-srv/object-store"]
	path = src/srv/pager-srv/object-store
	url = https://github.com/twizzler-operating-system/object-store.git
[submodule "toolchain/src/mlibc"]
	path = toolchain/src/mlibc
	url = https://github.com/twizzler-operating-system/mlibc.git
[submodule "src/ports/lwext4-rs/lwext4"]
	path = src/ports/lwext4-rs/lwext4
	url = ../../twizzler-operating-system/lwext4.git
[submodule "src/ports/hwlocality"]
	path = src/ports/hwlocality
	url = ../../twizzler-operating-system/hwlocality.git
	branch = twizzler
[submodule "src/ports/rust-errno"]
	path = src/ports/rust-errno
	url = ../../twizzler-operating-system/rust-errno.git
	branch = twizzler
[submodule "src/ports/hwloc"]
	path = src/ports/hwloc
	url = ../../twizzler-operating-system/hwloc.git
	branch = twizzler
[submodule "src/ports/libc"]
	path = src/ports/libc
	url = ../../twizzler-operating-system/libc.git
	branch = twizzler-2025-04
[submodule "src/ports/rust-rocksdb"]
	path = src/ports/rust-rocksdb
	url = ../../twizzler-operating-system/rust-rocksdb.git
