[submodule "toolchain/src/rust"]
	path = toolchain/src/rust
	url = ../../twizzler-operating-system/rust.git
	branch = twizzler-tcup2024
[submodule "src/lib/nvme-rs"]
	path = src/lib/nvme-rs
	url = ../../twizzler-operating-system/nvme-rs.git
	branch = twizzler-dynlink
[submodule "src/abi"]
	path = src/abi
	url = ../../twizzler-operating-system/abi.git
[submodule "src/bin/test-tiny-http/src/tiny-http-twizzler"]
	path = src/bin/test-tiny-http/src/tiny-http-twizzler
	url = ../../twizzler-operating-system/tiny-http-twizzler.git
[submodule "src/srv/pager-srv/object-store"]
	path = src/srv/pager-srv/object-store
	url = ../../twizzler-operating-system/object-store.git
[submodule "toolchain/src/mlibc"]
	path = toolchain/src/mlibc
	url = ../../twizzler-operating-system/mlibc.git
[submodule "src/ports/lwext4-rs/lwext4"]
	path = src/ports/lwext4-rs/lwext4
	url = ../../twizzler-operating-system/lwext4.git
