
#cargo-features = ["profile-rustflags"] 

[workspace]
members = [
    "tools/xtask",
    "tools/image_builder",
    "tools/initrd_gen",
    "src/bin/init",
    "src/bin/devmgr",
    "src/bin/netmgr",
    "src/bin/nettest",
    "src/bin/pager",
    "src/bin/lethe_cli",
    "src/bin/fute",
    "src/bin/cat",
    "src/bin/xxd",
    "src/kernel",
    "src/lib/twizzler-queue-raw",
    "src/lib/twizzler-queue",
    "src/lib/twizzler-net",
    "src/lib/twizzler-async",
    "src/lib/twizzler-nando",
    "src/lib/twizzler-object",
]
exclude = [
    "toolchain/src/rust",
]
resolver = "2"

[workspace.metadata]
initrd = [
    "crate:init",
    "crate:devmgr",
    "crate:netmgr",
    "crate:nettest",
    "crate:pager",
    "crate:lethe_cli",
    "crate:fute",
    "crate:cat",
    "crate:xxd",
    #"third-party:hello-world-rs"
]

[workspace.metadata.third-party]
# hello-world-rs = "1.0.0"


[profile.release]
debug = true

[patch.'https://github.com/dbittman/twizzler-abi']
twizzler-abi = { path = "src/lib/twizzler-abi" }

