
#cargo-features = ["profile-rustflags"] 

[workspace]
members = [
    "tools/xtask",
    "tools/image_builder",
    "tools/initrd_gen",
    "src/bin/init",
    #"src/bin/bootstrap",
    "src/bin/devmgr",
    "src/bin/netmgr",
    "src/bin/nettest",
    "src/bin/pager",
    "src/bin/mnemosyne",
    "src/bin/stdfs_demo",
    "src/bin/virtio",
    "src/kernel",
    "src/lib/twizzler-queue-raw",
    "src/lib/twizzler-queue",
    "src/lib/twizzler-net",
    "src/lib/twizzler-async",
    "src/lib/twizzler-object",
    #"src/lib/twizzler-runtime-api",
    "src/lib/twizzler-futures",
    #"src/runtime/dynlink",
    #"src/runtime/monitor",
    #"src/runtime/monitor-api",
    #"src/runtime/twz-rt",
    "src/abi/rt-abi",
    "src/abi/types", 
]

exclude = ["toolchain/src/rust"]
resolver = "2"

[workspace.metadata]
initrd = [
    #"crate:bootstrap",
    "crate:init",
    "crate:devmgr",
    "crate:netmgr",
    "crate:nettest",
    "crate:pager",
    "crate:virtio",
    #"lib:twz-rt",
    #"lib:monitor",
    "crate:mnemosyne",
    "crate:stdfs_demo",
    #"third-party:hello-world-rs"
]

[workspace.metadata.third-party]
# hello-world-rs = "1.0.0"

[profile.release]
debug = true

[patch.'https://github.com/dbittman/twizzler-abi']
twizzler-abi = { path = "src/lib/twizzler-abi" }

[patch.crates-io]
#ring = { git = "https://github.com/twizzler-operating-system/ring-twizzler.git", branch = "twizzler" }
getrandom = { git = "https://github.com/twizzler-operating-system/getrandom-twizzler.git", branch = "twizzler" }
polling = { git = "https://github.com/twizzler-operating-system/polling.git", branch = "twizzler" }
async-io = { git = "https://github.com/twizzler-operating-system/async-io.git", branch = "twizzler" }
async-executor = { git = "https://github.com/twizzler-operating-system/async-executor.git", branch = "twizzler" }
twizzler-futures = { path = "src/lib/twizzler-futures" }
twizzler-abi = { path = "src/lib/twizzler-abi" }
parking_lot = { git = "https://github.com/twizzler-operating-system/parking_lot.git", branch = "twizzler" }
# lock_api comes from the parking_lot repo
lock_api = { git = "https://github.com/twizzler-operating-system/parking_lot.git", branch = "twizzler" }
