[package]
name = "monitor"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["dylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
twizzler-abi = { path = "../../lib/twizzler-abi", default-features = false }
twizzler-rt-abi = { path = "../../abi/rt-abi" }
dynlink = { path = "../dynlink" }
tracing = "0.1"
tracing-subscriber = "0.3"
twz-rt = { path = "../twz-rt", features = ["runtime"] }
twizzler-object = { path = "../../lib/twizzler-object" }
miette = "5.10"
secgate = { path = "../secgate" }
monitor-api = { path = "../monitor-api" }
static_assertions = "1.1"
lazy_static = "1.4"
talc = "3.1"
happylock = "0.3"
parking_lot = "*"

[features]
secgate-impl = []
default = ["secgate-impl"]
