[package]
name = "naming-srv"
version = "0.1.0"
edition = "2021"

# Important: this should be compiled as both an rlib, for exporting the trampoline,
# and as a cdylib, as the actual .so file that will be exporting the gates.
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
lazy_static = "1.5.0"
secgate = { path = "../../lib/secgate" }
twizzler-runtime = { path = "../../rt" }
twizzler-rt-abi = { path = "../../abi/rt-abi" }
twizzler-abi = { path = "../../lib/twizzler-abi" }

[features]
