[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
cargo_metadata = "0.15.0"
clap = { version = "3.2.3", features = ["derive"] }
fs_extra = "1.3.0"
walkdir = "2.3.2"
strum = "0.24.0"
anyhow = "1.0.56"
strum_macros = "0.24.0"
cargo = { version = "0.67.0", features = ["vendored-openssl"] }
ouroboros = "0.15.5"
reqwest = { version = "0.11.10", features = ["stream"] }
futures-util = "0.3.21"
futures = "0.3.21"
indicatif = "0.17.1"
tokio = "1.17.0"
toml_edit = "0.19"
guess_host_triple = "*"

[package.metadata]
twizzler-build = "xtask"
