[package]
name = "pager-srv"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
twizzler-abi = { path = "../../lib/twizzler-abi" }
twizzler-rt-abi = { path = "../../abi/rt-abi" }
twizzler-object = { path = "../../lib/twizzler-object" }
twizzler-queue = { path = "../../lib/twizzler-queue" }
twizzler-driver = { path = "../../lib/twizzler-driver" }
twizzler-runtime = { path = "../../rt" }
secgate = { path = "../../lib/secgate" }
object-store = { path = "object-store" }
twizzler = { path = "../../lib/twizzler" }
nvme = { path = "../../lib/nvme-rs" }
devmgr = { path = "../../lib/devmgr" }
slab = { version = "*", features = [] }

async-trait = "0.1.66"
volatile = "0.5"
bitvec = "1.0.1"

tracing = "0.1"
tracing-subscriber = "0.3.17"
miette = "*"
tracing-log = "*"

async-io = "2.3.2"
async-executor = { version = "1.9.1", features = [] }
twizzler-futures = { path = "../../lib/twizzler-futures" }
polling = "3.6.0"
futures = "*"
colored = "*"
