[target.x86_64-unknown-none]
runner = "cargo run --package simple_boot --"
rustflags = [
  "-C", "link-arg=--image-base=0xffffffff80100000", "-Cforce-unwind-tables", "-Cforce-frame-pointers=yes",
  "-C", "link-arg=--no-gc-sections"
]

[env]
CC = "clang"
CXX = "clang++"

[build]
target = "target-spec/x86_64-unknown-none.json"

[unstable]
build-std = ["core","alloc"]
build-std-features = ["compiler-builtins-mem"]
