name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  LLVM_CONFIG_PATH: llvm-config-18
  CC: clang-18
  CXX: clang++-18
  LD: clang++-18

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Cleanup
      run: |
        ls -la 
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la 
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - id: setup
      uses: ./.github/actions/setup
    - name: Bootstrap Toolchain
      run: cargo bootstrap
    - name: Build x86_64
      run: cargo build-all
    - name: Test x86_64 Debug
      run: cargo start-qemu --tests --qemu-options=--nographic
    - name: Test x86_64 Release
      run: cargo start-qemu --profile release --tests --qemu-options=--nographic
    # aarch64 is compiled for QEMU virt, builds in debug mode
    - name: Build aarch64
      run: cargo build-all -a aarch64 -m virt
    - name: Install mdbook
      run: |
        mkdir mdbook
        curl -Lf https://github.com/rust-lang/mdBook/releases/download/v0.4.13/mdbook-v0.4.13-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook
        echo `pwd`/mdbook >> $GITHUB_PATH
    - name: Build Docs
      run: cargo doc-all
    - name: Build Book
      run: cd doc && mdbook build
