name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Cleanup
      run: |
        ls -la 
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la 
    - uses: actions/checkout@v2
        with:
          submodules: recursive
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
    - name: Bootstrap Toolchain
      run: cargo bootstrap
    - name: Build
      run: cargo build-all
    - name: Test
      run: cargo start-qemu --tests --qemu-options=--nographic
    - name: Test Release
      run: cargo start-qemu --profile release --tests --qemu-options=--nographic
    - name: Install mdbook
      run: |
        mkdir mdbook
        curl -Lf https://github.com/rust-lang/mdBook/releases/download/v0.4.13/mdbook-v0.4.13-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook
        echo `pwd`/mdbook >> $GITHUB_PATH
    - name: Build Docs
      run: cargo doc-all
    - name: Build Book
      run: cd doc && mdbook build